
	body {
		min-width:350px;
		background-color:white;
	}
	@font-face {
		font-family : "Lobster";
		src : url("../fonts/Lobster/Lobster-Regular.ttf")
	}
	@font-face {
		font-family : "Open-Sans";
		src : url("../fonts/Open-Sans/OpenSans-Regular.ttf")
	}
	@font-face {
		font-family : "Rampart-One";
		src : url("../fonts/Rampart_One/RampartOne-Regular.ttf")
	}
	.title {
		margin:0 auto;
		font-family:Rampart-One, Arial, Helvetica;
		font-size:2em;
		line-height:0.5;
		display:block;
		color:black;
		margin-right:20px;
		line-height:30px;
		height:30px;
	}
	p {
		font-family:Open-Sans, Arial, Helvetica;
		font-size:1em;
	}
	input[type=text] {
		border-radius:15px;
		background-color:white;
		color:black;
		width:90%;
	}
	input[type=text]:focus {
		outline-style:none;
		box-shadow:0px 3px 3px 0px black;
	}
	input[type=button] {
		font-family:Open-Sans, Arial, Helvetica;
		font-size:1em;
		border-radius:15px;
		background-color:white;
		color:black;
	}
	input[type=button]:focus {
		outline-style:none;
		box-shadow:0px 3px 3px 0px black;
	}
	input[type=button]:active {
		background-color:black;
		color:white;
	}
