.vbox-a {
	display:flex;
	flex-direction:row;
	height:auto;
	width:auto
}
.vbox-element-b {
	width:auto
}
.hbox-c {
	display:flex;
	flex-direction:column;
	height:auto;
	width:auto
}
.hbox-element-d {
	height:100%;
	width:auto
}
.vbox-e {
	display:flex;
	flex-direction:row;
	height:100%;
	width:auto
}
.vbox-element-f {
	margin:0 0;
	vertical-align:middle;
	width:182px;
	height:320px;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url('../images/totem-vertical+baseline-noir-noir-fond-transparent.png')
}
.vbox-element-g {
	width:auto;
	height:auto
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideSB::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hideSB {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}