.vbox-i {
	display:flex;
	flex-direction:column;
	width:100%;
	height:auto
}
.vbox-element-j {
	height:auto
}
.hbox-k {
	display:inline-flex;
	width:100%;
	height:auto
}
.hbox-element-l {
	width:100%
}
.vbox-m {
	display:flex;
	flex-direction:column;
	width:100%;
	height:auto
}
.vbox-element-n {
	margin:0 auto;
	height:262px;
	width:450px;
	background-size:cover;
	background-repeat:no-repeat;
	background-image:url('../images/totem-horizontal+baseline-noir-noir-fond-transparent.png')
}
.vbox-element-o {
	margin:0 auto;
	height:auto;
	width:450px
}
