.vbox-a {
	display:flex;
	flex-direction:column;
	width:320px;
	margin:0 auto;
	height:auto
}
.vbox-element-b {
	height:100%
}
.vbox-g {
	display:flex;
	flex-direction:column;
	width:100%;
	height:auto
}
.vbox-element-h {
	height:auto
}
.hbox-i {
	display:inline-flex;
	width:100%;
	height:auto
}
.hbox-element-j {
	width:100%
}
.vbox-k {
	display:flex;
	flex-direction:column;
	width:100%;
	height:auto
}
.vbox-element-l {
	margin:0 auto;
	height:362px;
	width:500px;
	background-image:url('../images/totem-horizontal+baseline-noir-noir-fond-transparent.png')
}
.vbox-element-m {
	margin:0 auto;
	height:auto;
	width:500px
}
