.vbox-a {
	flex-direction:row;
	width:200px;
	display:inline-block;
	height:320px
}
.vbox-element-b {
	width:100%
}
.vbox-c {
	display:flex;
	flex-direction:row;
	height:320px;
	width:320px
}
.vbox-element-d {
	width:100%
}
.vbox-i {
	display:flex;
	flex-direction:row;
	height:auto;
	width:auto
}
.vbox-element-j {
	width:auto
}
.hbox-k {
	display:flex;
	flex-direction:column;
	height:auto;
	width:auto
}
.hbox-element-l {
	height:100%;
	width:auto
}
.vbox-m {
	display:flex;
	flex-direction:row;
	height:100%;
	width:auto
}
.vbox-element-n {
	margin:0 0;
	vertical-align:middle;
	width:362px;
	background-image:url('../images/totem-vertical+baseline-noir-noir-fond-transparent.png')
}
.vbox-element-o {
	width:auto;
	height:auto;
	display:inline-flex
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideSB::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hideSB {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
